@font-face {
    font-family: '1';
    src: url('poly.woff') format('woff');
}
@font-face {
    font-family: '2';
    src: url('trickster.woff') format('woff');
}
@font-face {
    font-family: '3';
    src: url('grotesk.woff') format('woff');
}

/* GENERAL */
body {
    background-color: wheat;
    transition: 1s;
    overflow: hidden; }
div {
    transition: 1s; }

button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: monospace;
    font-size: 4vmin;
    position: fixed; }
button:hover {
        opacity: 50%; }

/* SECTIONS */
div.info{
    text-align:right;
    font-size: 2.5vmin; 
    font-family: monospace;
    margin-left: 10%; }

div.poster {
    margin-top: 3%;}

div.text {
    color: rgb(3, 92, 104);
    font-size: 9.5vmin;
    padding-left: 10vmin;
    margin-left: 15vmin;
    margin-right: 15vmin;
    background-color: goldenrod; 
}

    
/* RULES */
div.text.one{
    font-family: '3'; }
div.text.two {
    font-family: '1';}
div.text.three {
    font-family: '2'; }

div.text.a {
    transform:scaleY(0.5); }
div.text.b {
    transform:scaleY(1); }
div.text.c {
    transform:scaleY(1.8); }

div.text.x {
    opacity: 30%;}
div.text.y {
    opacity: 60%;}
div.text.z {
    opacity: 1;} 