@font-face {
    font-family: '1';
    src: url('trickster.woff') format('woff');
}
@font-face {
    font-family: '2';
    src: url('grotesk.woff') format('woff');
}

/* GENERAL */
body {
    background-color: white;
    transition: 1s;
    overflow: hidden; }
div {
    transition: 1s; }

button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: monospace;
    font-size: 4vmin;
    position: fixed; 
    top: 0%;}
button:hover {
        opacity: 50%; }

/* SECTIONS */
div.info{
    text-align:right;
    font-size: 5vmin; 
    font-family: '1';
    position: fixed;
    margin-left: 85%; 
padding-right: 5vmin;}
div.poster {
    margin-top: 10vmin;
}
div.text {
    text-align: center;
    color: white;
    font-size: 8vmin;
    padding-top: 1vmin; padding-bottom: 2vmin;
    margin-right: 50vmin;
    background-color: black;
    border-radius: 50vmin;
}

    
/* RULES */
div.text.one{
    font-family: '1'; }
div.text.two {
    font-family:courier;}
div.text.three {
    font-family: '2'; }

div.text.a {
    transform:scaleY(0.6); }
div.text.b {
    transform:scaleY(1); }
div.text.c {
    transform:scaleY(2); }

div.text.x {
    opacity: 0.6;}
div.text.y {
    opacity: 0.75;}
div.text.z {
    opacity: 0.95;} 